.DS_Store
RendererAppSDL/RendererAppSDL.xcworkspace/xcuserdata/krzysp.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RendererAppSDL/RendererAppSDL.xcworkspace/xcuserdata/krzysp.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
