.DS_Store
.vs/
SampleApp/VS/Build
RendererAppSDL/RendererAppSDL.xcworkspace/xcuserdata/krzysp.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RendererAppSDL/RendererAppSDL.xcworkspace/xcuserdata/krzysp.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
SampleApp/MacOS/MacOS.xcworkspace/xcuserdata/krzysp.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SampleApp/MacOS/MacOS.xcworkspace/xcuserdata/krzysp.xcuserdatad/xcdebugger/Expressions.xcexplist
SampleApp/Game Data Folder/Rust-cargo-embedded/hello_world/target
